<link rel="stylesheet" type="text/css" href="css/bz.css?v=aaadasafa3">
<div class="mask" id="popup">
 <div class="toast">
 	在保险起见内，以乘客身份乘坐商业运营的汽车起见因意外伤害身故/残疾，我们将按“汽车意外伤害保险金额”给付保险金；
 	<p class="toast_reminder">注：未成年人除航空意外以外的身故保险金额最高不超过10万元。</p>
 </div> 
</div>
<div class="head_left">
	诺贝为您生成的保障利益：
</div>
<div class=" gradient-shadow" style="  "></div>

<style>


</style>
<div class="bz_container">
	<ul class="sub_container_ul" >

		<li style="background: inherit;">
		    <span class="left_text " >保障项目</span>
		     保障额度 
		    <span style="float:right">详情</span>
		</li>

		<li> <span class="left_text ">意外身故/残疾/烧烫伤</span> <span class="money">50</span>万元 </li>
		<li> <span class="left_text ">意外身故/残疾/烧烫伤</span> <span class="money">50</span>万元 </li>
		<li> <span class="left_text ">意外身故/残疾/烧烫伤</span> <span class="money">50</span>万元 </li>
		<li> <span class="left_text ">意外身故/残疾/烧烫伤</span> <span class="money">50</span>万元 </li>
		<li> <span class="left_text ">意外身故/残疾/烧烫伤</span> <span class="money">50</span>万元 </li>
		<li> <span class="left_text ">意外身故/残疾/烧烫伤</span> <span class="money">50</span>万元 </li>
	
	</ul>
<!--
	<div class="sub_container sub_container_7">
		<div class="bz_text bz_text_1">住院医疗费2万元</div>
		<div class="bz_text bz_text_2">住院医疗费2万元</div>
		<div class="bz_text bz_text_3">住院医疗费2万元</div>
		<div class="bz_text bz_text_4">住院医疗费2万元</div>
		<div class="bz_text bz_text_5">住院医疗费2万元</div>
		<div class="bz_text bz_text_6">住院医疗费2万元</div>
		<div class="bz_text bz_text_7">住院医疗费2万元</div>
	</div>


	<ul class="sub_container_ul" >

		<li style="background: inherit;">
		    <span class="left_text " >保障项目</span>
		     保障额度 
		    <span style="float:right">详情</span>
		</li>

		<li> <span class="left_text ">意外身故/残疾/烧烫伤</span> <span class="money">50</span>万元 </li>
		<li> <span class="left_text ">意外身故/残疾/烧烫伤</span> <span class="money">50</span>万元 </li>
		<li> <span class="left_text ">意外身故/残疾/烧烫伤</span> <span class="money">50</span>万元 </li>
		<li> <span class="left_text ">意外身故/残疾/烧烫伤</span> <span class="money">50</span>万元 </li>
		<li> <span class="left_text ">意外身故/残疾/烧烫伤</span> <span class="money">50</span>万元 </li>
		<li> <span class="left_text ">意外身故/残疾/烧烫伤</span> <span class="money">50</span>万元 </li>
	
	</ul>
-->

</div>

<div class=" gradient-shadow" style="  "></div>

<div id="wrapper" class="wrapper main">

<div class="cell" >
				<a href="#/tb" class="btn btn_n_primary " style="">立即投保</a>
</div>
 <div class="text_container text">
    <p>以上保障由一下产品</p>
    <p style="color:#7ba5dd">泰康人寿&lt;e生健康终身重大疾病保险&gt;</p>
    <p style="color:#7ba5dd">平安保险&lt;住院医疗保险&gt;</p>
    </div>
</div>
<script>
$(".bz_text").click(function(event){
	$("#popup").show();
	return false;
})
$(".mask").click(function(){
	$(this).hide();
})


</script>