<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,minimum-scale=1.0,user-scalable=no"/>
  <meta name="format-detection" content="telephone=no">
  <meta name="format-detection" content="address=no">
  <title>demo</title>
  <link rel="stylesheet" href="../css/demo.css">
</head>
<body>

<div class="cell">
    <label class="label">验证码</label>
    <input type="text" class="ipt" placeholder=""> 
    <div class="line"></div>
    <a href="javascript:;" class="btn btn_primary ycode" style="">获取验证码</a>
</div>
<div class="cell">
    <label class="label">验证码</label>
    <input type="text" class="ipt" placeholder=""> 
    <div class="line"></div>
</div>
</body>
</html>