<link rel="stylesheet" type="text/css" href="css/ring.css?rev=fafaavaa">

<div  class="wrapper" >

	<div  class="bt_container">
		<img src="img/li_1.jpg" class="li_num">
		<div class="text_intr tx_lf">选择保障范围</div>
	</div>
	<div style="position: relative;" id="clockContainer">
		<canvas id="bgchartContainer"  style="background:transparent;position:absolute;left:0;top:0;"></canvas>
		<canvas id="chartContainer"  style = ""></canvas>
		<div  id = "chartTextContainer" class="canvas_text"   style = "position:absolute;">
			<div style="position:relative;left:-60px;">防癌险</div>
			<div  style="position:relative;left:-10px;">重大疾病</div>
			<div  style="position:relative;left:-80px;" class="small">住院津贴</div>
			<div  style="position:relative;left:30px;"  class="small">手术津贴</div>
			<div  style="position:relative;left:-20px;"  class="small">住院医疗费</div>
		</div>
	</div>

	<div  class="bt_container">
		<img src="img/li_2.png" class="li_num">
		<div class="text_intr tx_lf">选择保障额度</div>
	</div>

	<div  class="bottom_container" id="customerSlider" >

		<div class="left_button"></div>
		<div class="weui_progress_bar">
			<div class="weui_progress_inner_bar" id="bar" style="width: 16px;">
			   <div style="" id="zhizhen">
					<img src="img/btn.png?v=1" id="btnCircle" class="bar_btn" style="">
					<div id="bar_score" class="bar_top_score"  style="">4分</div>
					<div id="bar_money" class="bar_bottom_money" style="">100万</div>
				</div>
			   </div>
				
			</div>

			
		<div class="ring"></div>
		<div class="right_button">800万</div>
	</div>

	<div style="margin-bottom: 30px;">

		<div class="text_intr score_text" >
			本次定制意外保障系数：
			<span class="score">3</span>
			/
			<span class="small">10</span>
		</div>
		<div class="cell" >
			<a href="#/bz" class="btn btn_n_primary " >提交定制</a>
		</div>
	</div>
</div>
<script src="js/select.js?rev=aafaaffgahgasdfgs"></script>
<script src="js/slider.js?rev=affafafafaadsafa"></script>